{{!< default}}

{{#post}}

<header class="masthead {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
	<div class="header-wrapper">
		<figure class="logo">
			{{#if @blog.logo}}<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Joe Codes Logo"></a>{{/if}}
		</figure>
		
		<div class="title">
			<a href="{{@blog.url}}">
				<h1>{{@blog.title}}</h1>
			</a>
			<p>{{@blog.description}}</p>
			<div class="line"></div>
		</div>

		<div class="bottom">
			{{> "menu"}}
		</div>

		<footer class="blog-footer">
			<p>All content copyright <a href="/">Joe Purdy</a> &copy; {{date format='YYYY'}} &bull; All rights reserved.</p>
			<p>Published with <a href="http://ghost.org">Ghost.</a></p>
		</footer>

	</div>
</header>

<section class="container">

		<article class="{{post_class}}">

			<header class="header-post">
				<span class="meta-post">
					<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
				</span>
				<h2 class="title-post">{{{title}}}</h2>
			</header>

			<section class="content-post">
				{{content}}
			</section>

			<footer class="footer-post">

				{{#author}}
				<section class="author-post">
					{{#if image}}
						<figure class="avatar">
							<img src="{{image}}" alt="{{name}}">
						</figure>
					{{/if}}

					<div class="bio">
						<span>Author</span>
						<h4 class="author-name">
							<a href="{{url}}">{{name}}</a>
						</h4>
						{{#if bio}}
							<p>{{{bio}}}</p>
						{{/if}}
					</div>
				</section>
				{{/author}}

				<section class="share">
					<h4>Share</h4>
					<a href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}" class="fa fa-twitter" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
						<span class="hidden">Twitter</span>
					</a>

					<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" class="fa fa-facebook" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
						<span class="hidden">Facebook</span>
					</a>

					<a href="https://plus.google.com/share?url={{url absolute="true"}}" class="fa fa-google-plus" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
						<span class="hidden">Google+</span>
					</a>
				</section>
			</footer>

			<section class="comments-post">
				<!-- Disqus Comments -->
				<div id="disqus_thread"></div>
		        <noscript>Please enable JavaScript to view the </noscript>
		        <a href="http://disqus.com?ref_noscript" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			</section>
			<script type="text/javascript">
	            var disqus_shortname = 'joepurdy'; 
	        
	            /* * * DON'T EDIT BELOW THIS LINE * * */
	            (function() {
	                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	            })();
	        </script>
			{{/post}}

		</article>
	</section>
